/* eb-grid v1.1.1 add-on, https://github.com/ericbutler555/eb-grid/tree/master */
/*** for print ***/
@media only print {
  .print-auto { width: auto; }
  .print-full { width: 100%; }
  .print-half, .print-1-2, .print-2-4, .print-3-6, .print-4-8, .print-5-10 { width: 50%; }
  .print-1-3, .print-2-6, .print-3-9 { width: 33.3333%; }
  .print-2-3, .print-4-6, .print-6-9 { width: 66.6666%; }
  .print-1-4, .print-2-8 { width: 25%; }
  .print-3-4, .print-6-8 { width: 75%; }
  .print-1-5, .print-2-10 { width: 20%; }
  .print-2-5, .print-4-10 { width: 40%; }
  .print-3-5, .print-6-10 { width: 60%; }
  .print-4-5, .print-8-10 { width: 80%; }
  .print-1-6 { width: 16.6666%; }
  .print-5-6 { width: 83.3333%; }
  .print-1-7 { width: 14.2857%; }
  .print-2-7 { width: 28.5714%; }
  .print-3-7 { width: 42.8571%; }
  .print-4-7 { width: 57.1428%; }
  .print-5-7 { width: 71.4285%; }
  .print-6-7 { width: 85.7142%; }
  .print-1-8 { width: 12.5%; }
  .print-3-8 { width: 37.5%; }
  .print-5-8 { width: 62.5%; }
  .print-7-8 { width: 87.5%; }
  .print-1-9 { width: 11.1111%; }
  .print-2-9 { width: 22.2222%; }
  .print-4-9 { width: 44.4444%; }
  .print-5-9 { width: 55.5555%; }
  .print-7-9 { width: 77.7777%; }
  .print-8-9 { width: 88.8888%; }
  .print-1-10 { width: 10%; }
  .print-3-10 { width: 30%; }
  .print-7-10 { width: 70%; }
  .print-9-10 { width: 90%; }
  /*** spacing ***/
  .print-pad, .print-pad-l { padding-left: 10px !important; }
  .print-pad, .print-pad-r { padding-right: 10px !important; }
  .print-pad-v, .print-pad-t { padding-top: 10px !important; }
  .print-pad-v, .print-pad-b { padding-bottom: 10px !important; }
  .print-pad-all { padding: 10px !important; }
  /*** alignment ***/
  .print-align-l { text-align: left !important; }
  .print-align-r { text-align: right !important; }
  .print-align-c { text-align: center !important; }
  .print-float-l { float: left !important; }
  .print-float-r { float: right !important; }
  .print-float-c { float: none !important; margin-left: auto !important; margin-right: auto !important; }
  /*** clearing ***/
  .print-first { clear: left !important; }
  .print-not-first { clear: none !important; }
  /*** visibility ***/
  .print-hide { display: none !important; }
  .print-show { display: block !important; }
}
